@import url("https://fonts.googleapis.com/css2?family=Georama&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(96, 175, 169, 0.562);
  font-size: 25px;
  font-weight: 300;
  font-family: "Georama", sans-serif;
}
.slider-title {
  width: 75%;
  text-align: center;
  margin: 0 auto;
}
.meme-img img {
  max-height: 700px;
}
.meme-img p {
  width: 53%;
  font-size: 28px;
  font-weight: bold;
}
.meme-img img,
.meme-img p {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}
.clider-css {
  margin: 2% auto;
  width: 75%;
  height: 50%;
  overflow: hidden;
}
.meme-img {
  width: 25%;
  transition: all 0.6s ease;
}
.meme-img img {
  padding-bottom: 5%;
}
.slider-meme {
  display: flex;
  width: 400%;
}
.slider-meme input {
  display: none;
}
.navigation {
  width: 53%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: -65px auto 0;
}
.dots {
  width: 60px;
  height: 100px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.dots a {
  background-color: rgb(151, 84, 206);
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  padding: 15px;
  font-size: 0;
  pointer-events: none;
}
.dots:hover a {
  background-color: rgb(187, 80, 190);
  transform: scaleY(1.1);
}
#mem-one:checked ~ .slider-transform {
  margin-left: 0%;
}
#mem-two:checked ~ .slider-transform {
  margin-left: -25%;
}
#mem-three:checked ~ .slider-transform {
  margin-left: -50%;
}
#mem-for:checked ~ .slider-transform {
  margin-left: -75%;
}
@media (max-width: 1920px) and(min-width: 1915px) {
  .meme-img img {
    height: 700px;
  }
}
@media (max-width: 425px) {
  .meme-img p {
    width: 80%;
    margin-top: 100px;
  }
  .navigation {
    margin: -400px auto 0;
  }
  .dots {
    height: 500px;
  }
} ;
